@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');

*{
  background-color: bisque;
}

body {
  /* background: url(https://images.clipartlogo.com/files/istock/previews/8741/87414357-apple-seamless-pastel-colors-pattern-fruits-texture-background.jpg); */
  background-color: rgb(255, 248, 234);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: rgb(158, 118, 118);
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: rgb(255, 248, 234);
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgb(129, 91, 91);
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: rgb(129, 91, 91);
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: orange;
  background: rgb(129, 91, 91);
  font-size: 1em;
  border-radius: 10%;
}

.button{
  padding: .3em;
  color: orange;
  background: rgb(129, 91, 91);
  font-size: .75em;
  border-radius: 10%;
}

.img{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 100%;
  /* width: 100%; */
  object-fit: cover;
  /* padding-top: 0px; */
}

.blogs{
  margin-left: 20px;
  padding: 0 1.5rem;
}

.blog-title{
  text-align: center;
}
.blog-body{
  margin-left:20px;
  
}
.blog-subtitle{

}
.blog-card{
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
  /* display: flex; */
  align-items: center;
  border-radius: .8rem;
  padding: 5rem;
  height: auto;
  /* width: 500px; */


  
}